__pycache__/LinkedList.cpython-310.pyc
__pycache__/Tests.cpython-310-pytest-7.3.0.pyc
.idea/linkedList.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/settings.json
test.py
__pycache__/LinkedList.cpython-311.pyc
__pycache__/Tests.cpython-311-pytest-7.3.0.pyc
__pycache__/1LinkList.cpython-310.pyc
__pycache__/sorts.cpython-311.pyc
